@charset "utf-8";
/* CSS Document */

header, div, nav, aside, article, main, footer, section, body, p, h1, h2, h3, h4, h5, h6, ul, li, img, figure, a {
	margin:0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
* img:hover {
	opacity: 0.8;
}

/**/
body {
	width: 80%;
	margin: auto;
	border: 1px solid grey;
	font-family:arial;
}
header {
	width: 100%;
}
#divheader {
	background-color: #2140A0;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
#logo {
	padding: 20px;
	width: 25%;
}

#navpadre {
	width: 75%;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-end;
}
#nav1 {
	display: flex;
	align-items: flex-end;
	background-color: #001873;
	padding: 8px;
	margin: 0 100px 0 100px;
}
#nav2 {
	display: flex;
	padding:10px;
	margin-right: 100px;
}
#nav1 a {
	color:#D6C7DB;
	text-decoration: none;
	padding: 10px;
	text-align: center;
}
#nav2 a {
	color: white;
	text-decoration: none;
	padding: 10px;
	text-align: center;
}
#nav2 :hover {
	color: rgba(147,201,215,1.00);
}
#sec1 {
	position: relative;
}
#imgppal {
	width: 100%;
	box-shadow: 0 4px yellow;
	border: none;
}
#infoqatar {
	color: white;
	background-color: rgba(3,3,3,0.61);
	width: 30%;
	height: auto;
	position: absolute;
	top: 40px;
	right: 10%;
	padding: 10px;
	z-index: 1;
	border-top: 4px solid yellow;
}
#infoqatar > img {width:100%;}
#infoqatar > p {margin: 0.8em 0;}
.infobotonnegro {padding: 0.8em 0; margin: 0 0 0.5em 0;;}
.botonnegro {
	border: 1px solid white;
	background-color: black;
	text-decoration: none;
	color: white;
	padding: 0.8em;
	border-radius: 3px;
	margin: 0 0 1.2em 0;
}
.botonazul {
	text-align: right;
	margin: 0 0 1.2em 0;
}
.botonazul >a {
	background-color:#3C65D7;
	text-decoration: none;
	color: white;
	padding: 10px;
	text-align: center;
}
.txtazulclaro {
	color:aqua;
}
.txtblanco {
	color: white;
}
.seccentral {
	margin: 40px 10px;
	display: flex;
	flex-flow: column wrap;
	border: none;
}
.secimagenes {
	display: flex;
}
.secimagenes > div  {
	margin: 10px;
	border: 1px solid #D7D7D7;
	box-shadow: 0 2px grey;
	position: relative;
}
.secimagenes > div > img  {
	width: 100%;
}
.sec3imagenes > div  {width: 33%;}
.sec4imagenes > div  {width: 25%;}
.sec2imagenes > div  {width: 50%;}
.tituloimg {
	position: absolute;
	bottom: 25%;
	left: 5%;
	color: white;
	z-index: 1;
	font-weight: 700;
}
.ofertas {
	text-align: right;
	margin:8px;
}
.ofertas a {
	text-decoration: none;
	color: grey;
}
.padleft10 {
	padding-left: 10px;
}
#reservas {
	display: flex;
	text-align: center;
	margin: 1em 0 0 0;
}
#reservas > div{
	width: 33%;
	margin-top: 15px;
	margin-bottom: 15px;
}
#divreservas {
	padding: 10px;
	color: white;
	background-color: #0C3B9A;
	text-align: center;
	position: relative;
}
#divreservas hr {
	line-height: 4px solid grey;
}
#titdivreservas {
	position: absolute;
	width: 40%;
	left: 30%;
	right: 50%;
	background-color:#0C3B9A;
	top: 5%;
	
/*	top: 8%;
	left:35%;*/
/*	padding: 0 15px;*/
/*	background-color: #0C3B9A;*/
}
#rrss {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#politicas {
	background-color: black;
	color: white;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#politicas a {
	text-decoration: none;
	color: white;
}
#politicas a:hover {
	color: grey;
}

/**/
@media screen and (max-width: 2000px) {
	body {font-size: 1em;}
	#nav1 a {font-size: 0.7em;}	
	#nav2 a {font-size: 1em;}		
	.botonazul {font-size: 1em;}
	.txtsupergrande {font-size: 1.6em;}
	.txtgrande {font-size: 1.4em;}
	.txtpeq {font-size: 0.8em;}
	.tituloimg {font-size: 1em;}
	#politicas a {font-size: 0.7em;}
	.ofertas a {font-size: 0.9em;}
	#titdivreservas {font-size: 1em;}
}
@media screen and (max-width: 800px) {
  	body {font-size: 1em;}
	#nav1 a {font-size: 0.7em;}	
	#nav2 a {font-size: 0.8em;}		
	.botonazul {font-size: 1em;}
	.txtsupergrande {font-size: 1.5em;}
	.txtgrande {font-size: 1em;}
	.txtpeq {font-size: 0.7em;}
	.tituloimg {font-size: 0.9em;}
	#politicas a {font-size: 0.6em;}
	.ofertas a {font-size: 0.8em;}	
	#titdivreservas {font-size: 1em;}	
}
@media screen and (max-width: 600px) {
  	body {font-size: 1em;}
	#nav1 a {font-size: 0.6em;}	
	#nav2 a {font-size: 0.8em;}		
	.botonazul {font-size: 0.8em;}
	.txtsupergrande {font-size: 1.2em;}
	.txtgrande {font-size: 1.2em;}
	.txtpeq {font-size: 0.8em;}
	.tituloimg {font-size: 1em;}
	#politicas a {font-size: 0.5em;}
	.ofertas a {font-size:0.8em;}
	#divheader {justify-content: center;}
	#logo {width:100%}	
	#nav1 {visibility: hidden;}
	#nav1 {display: none;;}
	#nav2 {flex-flow: column nowrap;}
	.secimagenes {flex-flow: column nowrap;}
	.secimagenes div {width:100%}
	#reservas {flex-flow: column nowrap;}
	#reservas div {width:100%}	
	#titdivreservas {font-size: 1em;}	
	#infoqatar {
		width: 80%;
		margin: auto;
		height: 80%;
		top: 10%;
		overflow: hidden;
	}	
	#infoqatar > img {
		width: 30%;
		margin: auto;
		height: auto;
		top: 20px;}		
	#fl {float: left;}
	#fl {float: right;}
}