@charset "utf-8";
*{
	box-sizing: border-box content-box;
}
/* Menu1 - display: inline-block */
#menu1 {
	width: 80%;
	margin: auto;
	border: 1px solid red;
	padding: 10px;
}
#menu1 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: antiquewhite;
}
#menu1 ul li {
	display: inline-block;
}
#menu1 ul li a {
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	width: 100px;
	border: 1px solid grey;
	background-color: lightgoldenrodyellow;
	color:darkgreen;
}
#menu1 ul li a:hover {
	text-decoration: underline;
	color:red;
	background-color: skyblue;
}

/* Menu2 - float */

#menu2 {
	width: 80%;
	margin: auto;
	border: 1px solid red;
	padding: 10px;
}
#menu2 ul {
	list-style-type: none;	
	/*margin: 0;*/
	padding: 0;
	background-color: antiquewhite;
	overflow: hidden;
	/*width: 75%;
	margin: 0 auto;*/
	display: flex;
	justify-content: center;
}
#menu2 ul li {
	float: left;
	border: 1px solid black;
	padding: 10px 10px;
	width:auto;
	text-align: center;
	margin-right: 5px;
}
#menu2 ul li a {
	text-decoration: none;
	border: 1px solid red;
	padding: 10px 15px;
}
