@charset "utf-8";
/* CSS Document */
body {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 0.7em;
	width: 90%;
	margin: 0 auto;
}   
h2 {border-bottom: 2px solid red;}
.ej {font:italic 400; color: chocolate;}
.etiqueta {color: brown; background-color: #DCDCDC;}
.negrita {font-weight: bold; }
.dotted {border-style: dotted; border-color: blueviolet;}
.dashed {border-style: dashed;border-color: blueviolet;}
.solid {border-style: solid;border-color: blueviolet;}
.double {border-style: double;border-color: blueviolet;}
.groove {border-style: groove;}
.ridge {border-style: ridge;}
.inset {border-style: inset;}
.outset {border-style: outset;}
.none {border-style: none;}
.hidden {border-style: hidden;}
.mix {border-style: dotted dashed solid double;border-color: blueviolet;}
.bordesolido5px {
  border-style: solid;
  border-width: 5px;
}
.bordesolidomedio {
  border-style: solid;
  border-width: medium;
}
.bordepuntos2px {
  border-style: dotted;
  border-width: 2px;
}
.bordepuntosdelgado {
  border-style: dotted;
  border-width: thick;
}
.bordedoble20px {
  border-style: double;
  border-width: 20px;
}
.bordedobledelgado {
  border-style: double;
  border-width: thick;
}
.bordesolidomixto {
  border-style: solid;
  border-width: 3px 10px 4px 20px;
}
.bordenaranja {
  border-style: solid;
  border-color: orange;
}
.bordemixto {
  border-style: dashed;
  border-color: red grey green aqua;
}
.bordesvariosestilos {
	border-top-style: dotted;
	border-bottom-style: double;
	border-right-style: solid;
	border-left-style: inset;
}
.bordeabreviado {
	border:  5px dashed  #409860;
}
.pbordeizquierdo {
	border-left: 35px solid #213BB4;
	background-color:yellow;
	padding: 15px;
}
.borderradius1 {
	border: 2px solid #CDA518;
	border-radius: 10px 25px; 
}
.borderradius2 {
	border: 2px solid #CDA518;
	border-radius: 10px; 
}
.borderradius3 {
	border: 2px solid #CDA518;
	border-radius: 10px 25px 45px 10px; 
}
.borderradius4 {
	border: 2px solid #CDA518;
	border-radius: 40%; 
}
.divradius {
	width: 150px;
	height: 150px;
	float: left;
	background-color: aqua;
	margin: 30px;
}

.nav1 {
	background-color: darkblue;
	text-align: center;
	padding: 10px;	
}

.nav1 a {
	background-color: darkblue;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 1.3em;
}
.nav1 a:hover {
	background-color: #90ABC8;
	color: blue;
}
.nav2 {
	background-color: blue;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto;
}
.nav2 li {
	background-color: mediumvioletred; 
	width: auto;
	float:left;
	margin-right: 5px; 
	text-align: center;
}
.nav2 li a {
	color: white;
	text-decoration: none;	
	padding: 15px;
	display: block;
}
.nav2 li:hover {
	background-color:#DAC2E7;
	color:#9919B0;
}
.nav2 li a:hover {
	color:#9919B0;
}